.idea
.vscode
__pycache__
checkpoints
wandb
INTERRUPTED.pth
checkpoints_final_model
checkpoints_baseline
checkpoints_augmented
checkpoints_b_augmented
checkpoints_bayesian
random_examples
checkpoints_b_augmented_last